.u-section-1 .u-sheet-1 {
  min-height: 146px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  font-size: 3rem;
  margin: 18px auto 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 227px;
  margin: 16px auto 7px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 265px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 18px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 32px 0 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 396px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 225px;
  margin: 55px auto 0;
}

.u-section-2 .u-line-1 {
  width: 54px;
  height: 3px;
  transform-origin: left center 0px;
  transform: rotate(360deg);
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  width: 225px;
  margin: 20px auto 0;
}

.u-section-2 .u-image-1 {
  background-image: url("images/2.webp");
  background-position: 100% 50%;
  min-height: 396px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 396px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  width: 225px;
  margin: 25px auto 0;
}

.u-section-2 .u-line-2 {
  width: 54px;
  height: 3px;
  transform-origin: left center 0px;
  transform: rotate(360deg);
  margin: 30px auto 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  width: 225px;
  margin: 20px auto 0;
}

.u-section-2 .u-image-2 {
  background-image: url("images/3.webp");
  background-position: 65.22% 0%;
  min-height: 396px;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-image-3 {
  background-image: url("images/11.webp");
  background-position: 50% 50%;
  min-height: 396px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 396px;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  width: 225px;
  margin: 25px auto 0;
}

.u-section-2 .u-line-3 {
  width: 54px;
  height: 3px;
  transform-origin: left center 0px;
  transform: rotate(360deg);
  margin: 30px auto 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  width: 225px;
  margin: 20px auto 30px;
}

.u-section-2 .u-image-4 {
  background-image: url("images/5.webp");
  background-position: 50% 50%;
  min-height: 396px;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 396px;
}

.u-section-2 .u-container-layout-8 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  width: 225px;
  margin: 25px auto 0;
}

.u-section-2 .u-line-4 {
  width: 54px;
  height: 3px;
  transform-origin: left center 0px;
  transform: rotate(360deg);
  margin: 30px auto 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  width: 225px;
  margin: 20px auto 30px;
}

.u-section-2 .u-image-5 {
  min-height: 396px;
  background-image: url("images/bg2.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  min-height: 396px;
  background-image: url("images/4.webp");
  background-position: 100% 50%;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-11 {
  min-height: 396px;
}

.u-section-2 .u-container-layout-11 {
  padding: 0 24px;
}

.u-section-2 .u-text-9 {
  margin: 21px 23px 0;
}

.u-section-2 .u-line-5 {
  width: 54px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-10 {
  font-style: italic;
  margin: 31px 6px 0;
}

.u-section-2 .u-image-7 {
  min-height: 396px;
  background-image: url("images/bg2.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 327px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-1 {
    width: 185px;
    margin-top: 24px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    width: 45px;
  }

  .u-section-2 .u-text-2 {
    width: 185px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 279px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 326px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-3 {
    width: 175px;
  }

  .u-section-2 .u-line-2 {
    transform-origin: left center 0;
  }

  .u-section-2 .u-text-4 {
    width: 175px;
  }

  .u-section-2 .u-image-2 {
    min-height: 279px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-image-3 {
    min-height: 279px;
    background-size: auto 135%;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 279px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-5 {
    width: 186px;
    margin-top: 23px;
  }

  .u-section-2 .u-line-3 {
    width: 45px;
  }

  .u-section-2 .u-text-6 {
    width: 186px;
    margin-bottom: 23px;
  }

  .u-section-2 .u-image-4 {
    min-height: 279px;
    background-size: auto 125%;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 279px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-7 {
    width: 186px;
    margin-top: 23px;
  }

  .u-section-2 .u-line-4 {
    width: 45px;
  }

  .u-section-2 .u-text-8 {
    width: 186px;
    margin-bottom: 23px;
  }

  .u-section-2 .u-image-5 {
    min-height: 326px;
  }

  .u-section-2 .u-image-6 {
    min-height: 326px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 326px;
  }

  .u-section-2 .u-line-5 {
    height: 3px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-7 {
    min-height: 326px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-text-1 {
    width: 322px;
    margin-top: 46px;
  }

  .u-section-2 .u-line-1 {
    width: 34px;
  }

  .u-section-2 .u-text-2 {
    width: 322px;
  }

  .u-section-2 .u-image-1 {
    min-height: 361px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-line-2 {
    transform-origin: left center 0px;
  }

  .u-section-2 .u-image-2 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-image-3 {
    min-height: 387px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 352px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-5 {
    width: 320px;
    margin-top: 19px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-line-3 {
    width: 34px;
  }

  .u-section-2 .u-text-6 {
    width: 318px;
    margin: 30px 21px 29px;
  }

  .u-section-2 .u-image-4 {
    min-height: 390px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 390px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .u-section-2 .u-text-7 {
    width: 318px;
    margin-top: 60px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-line-4 {
    width: 34px;
    margin-left: 133px;
  }

  .u-section-2 .u-text-8 {
    width: 320px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 34px;
  }

  .u-section-2 .u-image-5 {
    min-height: 499px;
  }

  .u-section-2 .u-image-6 {
    min-height: 499px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-2 .u-image-7 {
    min-height: 499px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-text-1 {
    width: 512px;
    margin-top: 25px;
  }

  .u-section-2 .u-line-1 {
    width: 32px;
  }

  .u-section-2 .u-text-2 {
    font-style: normal;
    width: 512px;
  }

  .u-section-2 .u-image-1 {
    min-height: 326px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-image-2 {
    min-height: 400px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-image-3 {
    min-height: 362px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 360px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 35px;
    margin-left: 24px;
    margin-right: 24px;
    width: 492px;
  }

  .u-section-2 .u-line-3 {
    width: 32px;
  }

  .u-section-2 .u-text-6 {
    width: 491px;
    margin: 20px 25px 0;
  }

  .u-section-2 .u-image-4 {
    min-height: 387px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 379px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 35px;
    margin-left: 24px;
    margin-right: 24px;
    width: 491px;
  }

  .u-section-2 .u-line-4 {
    width: 32px;
    margin-left: auto;
  }

  .u-section-2 .u-text-8 {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    width: 499px;
  }

  .u-section-2 .u-image-5 {
    min-height: 749px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-6 {
    min-height: 749px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-7 {
    min-height: 749px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-1 {
    width: 322px;
  }

  .u-section-2 .u-line-1 {
    width: 27px;
  }

  .u-section-2 .u-text-2 {
    width: 322px;
  }

  .u-section-2 .u-image-1 {
    min-height: 361px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-image-2 {
    min-height: 359px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-image-3 {
    min-height: 349px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 273px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 58px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-line-3 {
    width: 27px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 45px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    min-height: 351px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 242px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 48px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-2 .u-line-4 {
    width: 27px;
    margin-top: 37px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 37px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-image-5 {
    min-height: 472px;
  }

  .u-section-2 .u-image-6 {
    min-height: 472px;
  }

  .u-section-2 .u-image-7 {
    min-height: 472px;
  }
}